body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.fieldsetDatos {
    width: 50%;
    margin: 0 auto 0 auto; 
    display: none;
}

.tableDatos {
    width: 55%; 
    margin: 0 auto 0 auto;
}

.editButton {
    background: url("../imagenes/edit.png") no-repeat !important;
    width:24px;
     height:24px;
}

.deleteButton {
    background: url("../imagenes/delete.png") no-repeat !important;
    width:24px;
     height:24px;
}

.buttonDelete {
     margin-left: 20px;
}

.inputDescripcion {
    width: 450px;
    height: 100px;
}